.container {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.about-me{
    padding-left: 10vw;
    padding-right: 10vw;
    height: 70vh;
    color: white;
}
.circle{
    width: 70%;
    height: 70%;
    position: relative;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.726);
}
.circle::before{
    --agnle-circle:0deg;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: -1;
}
.circle-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-icon > img{
    width: 70%;
    height: 70%;
    
}
@property --percentage{
    syntax: "<number>";
    initial-value:0 ;
    inherits: true;
}

.circle-1 , .circle-2{
    animation: progress-1-2 2s linear forwards;
}
.circle-1::before , .circle-2::before{
    background: conic-gradient(#260f39 calc(var(--percentage)*1%),#9467fd 0) ;
}
@keyframes progress-1-2{
    from{--percentage:0;}
    to{--percentage:85;}
}

.circle-3{
    animation: progress-3 2s linear forwards;
}
.circle-3::before{
    background: conic-gradient(#260f39 calc(var(--percentage)*1%),#9467fd 0) ;
}
@keyframes progress-3{
    from{--percentage:0;}
    to{--percentage:60;}
}

.circle-4{
    animation: progress-4 2s linear forwards;
}
.circle-4::before{
    background: conic-gradient(#260f39 calc(var(--percentage)*1%),#9467fd 0) ;
}
@keyframes progress-4{
    from{--percentage:0;}
    to{--percentage:85;}
}

.circle-5{
    animation: progress-5 2s linear forwards;
}
.circle-5::before{
    background: conic-gradient(#260f39 calc(var(--percentage)*1%),#9467fd 0) ;
}
@keyframes progress-5{
    from{--percentage:0;}
    to{--percentage:50;}
}

.circle-6{
    animation: progress-6 2s linear forwards;
}
.circle-6::before{
    background: conic-gradient(#260f39 calc(var(--percentage)*1%),#9467fd 0) ;
}
@keyframes progress-6{
    from{--percentage:0;}
    to{--percentage:20;}
}

.tools{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 5fr ;
    height:80dvh;
    background-color: #9467fd;
}
.title{
    
    text-align: center;

}
.items{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5dvw;
}
.welcome-text-title{
    font-size: 2rem;
}
.welcome-text-subtitle{
    font-size: 1.2rem;
}


.cards{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    grid-template-columns: 1fr 1fr;
    padding-left: 10vw ;
    padding-right: 10vw;
    margin-top: 30vh;
    column-gap: 5vw;
}
.card{
    height: 75vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    line-height: 2rem;
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 2vh;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}
.card-1{
    grid-template-rows: 1fr 5fr ;
}
.card-2{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5vh;
    
}
/* fix these */
/* .card-title{
    background-color: #9467fd;
} */
.examples , .examples-div{
    height: 100%;
    width: 100%;
}
.examples > img{
    position: absolute;
    height: 70%;
    width: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.158);
}

.examples:hover .example-pic-1 {
    transform: translate(-80%, -50%);
    cursor: pointer;
}
.examples:hover .example-pic-2 {
    transform: translate(-20%, -50%);
    cursor: pointer;
}

.card::after , .card::before{
    --angle:90deg;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    padding: 5px;
    background-image: conic-gradient(from var(--angle),transparent 70%,#9467fd);
    z-index: -1;
    border-radius: 2vh;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: rotate 3s linear infinite;
    
}
.card::before{
    opacity: 0.5;
    filter: blur(10px)
}
@property --angle{
    syntax: "<angle>";
    initial-value:90deg ;
    inherits: false;
}
@keyframes rotate {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
.a-contact-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    /* width: 100%; */
    height: 100%;
    
}
.a-contact-div:hover{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2vw;
    padding-right: 2vw;
    
}
.a-contact{
    border-radius: 2vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition-duration: 300ms;
    color: transparent;
    column-gap: 2vw;
    padding: 2vh 1vw 2vh 1vw;
}
.a-contact > svg{
    width: 24px;
    height: 24px;
}

/* fix these */
/* .a-contact:hover{
    width: 100%;
    height: 100%;
} */
.contact-p{
    font-size: 1rem;
    font-weight: 200;
    color: black;
}

.fade-In {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
  
.fade-In.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width : 600px) {
    .welcome-text-title{
        font-size: 1.2;
    }
    .welcome-text-subtitle{
        font-size: 0.9;
    }
    .tools{
        height: 70vh;
    }   
    .items{
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: repeat(1fr,6); */
    }
    .cards{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        height: 120vh;
        margin-top: 5vh;
        padding-left: 0px;
        padding-right: 0px;
    }
    .card{
        height: 50vh;
        width: 100%;
    }
}
