.lalezar-regular {
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: "Lalezar", system-ui;
    margin: 0px;
    background: linear-gradient(to bottom right, rgb(38, 13, 53), #2d3894);
}
.header{
    width: 100%;
    position:fixed;
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", system-ui;
    background-color: rgb(38, 13, 53);
    z-index: 1000;
}
.background{
    position: absolute;
    background:radial-gradient(#18054b,#02091f);
    height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    column-gap: 2vw;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    width: 100vw;
}
.star{
    width: 1px;
    height: 1px;
    background-color: aliceblue;
    position: relative;
}

.star-2, .star-4, .star-6, .star-8, .star-10{
    width: 2px;
    height: 2px;
}

.star-2::after, .star-4::after, .star-6::after, .star-8::after, .star-10::after{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: white;
    animation: shine 1s ease-in-out infinite;
    animation-direction: alternate;
}
.star-2::before, .star-4::before, .star-6::before, .star-8::before, .star-10::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    z-index: -1;
    top: -10vw;
    left: -10vw;
    background-color: white;
    animation: scale 3s ease-in-out infinite;
    animation-direction: alternate;
}
.star-1::after, .star-3::after, .star-5::after, .star-7::after, .star-9::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 1px;
    z-index: -1;
    top: 4vw;
    left: 7vw;
    background-color: white;
    animation: scale 2s ease-in-out infinite;
    animation-direction: alternate; 
}
@keyframes shine {
    0% {
        filter: blur(0.2rem);
        opacity: 0.8;
    }
    50% {
        filter: blur(0.3rem);
        opacity: 0.85;
    }
    75% {
        filter: blur(0.4rem);
        opacity: 0.9;
    }
    100% {
        filter: blur(0.5rem);
        opacity: 1;
    }
}
@keyframes scale{
    0%{scale:1;}
    20%{scale:1.15;}
    30%{scale:1.35;}
    50%{scale:1.6;}
    60%{scale:1.7;}
    80%{scale:1.8;}
    90%{scale: 1.9;}
    100%{scale:2;}
}
main{
    padding-top: 20vh;
}
.scrolled{
    width: 100%;
    position:fixed;
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", system-ui;
    background-color: rgba(38, 13, 53, 0.466);
    z-index: 1000;
}
nav{
    padding-left: 3dvw;
    padding-right: 3dvw;
    width: 100%;

}
ul{
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    list-style-type: none;
    column-gap: normal;
    margin: 0px;
}
.nav-a{
    display: inline-flex;
    align-items: center;
    gap: 8px; 
    vertical-align: middle;
    padding: 1.5dvh;
    color: white;
    text-decoration: none;
    transition-duration: 200ms;
    border-radius: 2dvh;
}
.footer-nav{
    background-color : white;
    color: black;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
}
.footer-nav:hover{
    transform: scale(1.1);
    background-color: white;
}
.nav-a:hover{
    background-color : white;
    color: black;
}
.nav-a > svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
}
/* here */
.welcome, .about , .first-section{
    padding-left: 10dvw;
    padding-right: 10dvw;
    height: 80dvh;    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10dvw;
    color: white;
    position: relative;
}
.welcom{
    flex-direction: row;
}
.image-prof{
    border-radius: 60%;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 70%;
    box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.26);
}
.profile-card-back{
    position: absolute;
    border-radius: 60%;
    background-color: white;
    backface-visibility: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    text-align: center;
    color: #6c4285;
    transform: rotateY(180deg);
    font-size: 2rem;
}
.image-container{
    position: absolute;
    transition-duration: 1000ms;
    border-radius: 50%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    top:50%;
    left:50%;
    translate: -50% -50%;
}
.image-container:hover{
    transform: rotateY(180deg);   
    cursor: pointer;
}

.section-mobile{
    display: none;
    height: 20vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.about-me{
    height: 120dvh;
}
.welcome-text{
    flex :2;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.picture{
    flex : 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.about-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-picture{
    flex:1;
}
.about-text{
    flex:3;
}
.welcome-text-title , .about-text-title{
    font-size: 3rem;
    text-align: end;
}
.welcome-text-subtitle {
    margin: 0px;
    font-size: 2rem;
    text-align: end;
}
.about-text-subtitle{
    font-size: 1.5rem;
    direction: rtl; 
    unicode-bidi: plaintext;
}

.fade-In {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
  
.fade-In.show {
    opacity: 1;
    transform: translateY(0);
}
  
footer{
    height: 30dvh;
    width: 100%;
    background-color: #000000;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr ;
}
.footer-text{
    color: white;
    display: inline-block;
}
.social-media{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap:5dvw;
}

.gradient-text{
    background: linear-gradient(to right, #6c4285, #2d3894);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin: 0px;
    font-size: 1.5rem;
}
.span-display{
    display: inline-block;
}
@media (max-width:600px) {
    .span-display{
        display: none;
    }
    .welcome-text{
        flex:1
    }
    .welcome-text-title , .about-text-title{
        font-size: 1;
    }
    .welcome-text-subtitle , .about-text-subtitle{
        font-size: 0.7;
    }
    br{
        display: none;
    }
    .about-picture{
        display: none;
    }
    footer{
        height: 20vh;
    }
    .profile-card-back , .image-prof{
        /* fix */
        width: 40%;
        height: 20%;
    }
    ul{
        padding-left: 0px;
    }
    .background{
        grid-template-columns: repeat(3,1fr);
        column-gap: 2vw; 
    }
    .star-2::before, .star-4::before, .star-6::before, .star-8::before{
        width: 2px;
        height: 2px;
    }
    .star-10 , .star-10::after , .star-10::before{
        display: none;
    }
    /* .picture{
        flex:none;
        display: none;
    } */
    .section-mobile{
        display: inline-block;
    }
    .welcome{
        flex-direction: column;
        padding-bottom: 10vh;
    }
    .image-prof{
        height: 100%;
        width: 100%;
        box-shadow:none;
    }
    .welcome-text{
        flex:1;
    }
    .picture{
        flex: 2;
        width: 100%;
    }
}