section{
    height: 160vh;
    padding-top: 15vh;
    padding-bottom: 20vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.examples{
    height: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color:rgba(255, 255, 255, 0.171);
    box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.123);
    border-radius: 5vh;
    column-gap: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.card{
    padding-top:5vh;
    padding-bottom: 5vh;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 4fr 1fr;
    text-align: center;
    border-radius: 5vh;
    position: relative;
    background-image: conic-gradient(from var(--angle),transparent 70%,#ffffff);
    animation: rotate 3s linear infinite;
}
.card::after , .card::before{
    --angle:90deg;
    width: 98%;
    height: 98%;
    content: '';
    position: absolute;
    background-color: rgb(12, 14, 37);    
    z-index: -1;
    border-radius: 5vh;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.card::before{
    opacity: 0.5;
    filter: blur(10px)
}
@property --angle{
    syntax: "<angle>";
    initial-value:90deg ;
    inherits: false;
}
@keyframes rotate {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
img{
    width: 100%;
    height: 100%;
    border-radius: 1vh;
}
.a-git{
    color: black;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 0.05rem;
    transition-duration: 300ms;
}
.span-2{
    grid-row-start: span 2;
    grid-column-start: 2;
    grid-column-end: -1;
}
.image-1,.image-2,.image-3{
    width: 400px;
    transition-duration: 300ms;
}
img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
a{
    display: inline-block;
    color: black;
}
.explain{
    background-color: rgb(132, 66, 255);
    color: black;
}
.a-git:hover{
    color: white;
}
.more{
    margin-top: 5vh;
    width: 100%;
    height: 40vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30px 30px 30px;
    column-gap: 5vw;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition-duration: 1000ms;
}
.circle-1{
    animation: jump 1s ease-in-out 0s infinite;
}
.circle-2{
    animation: jump 1s ease-in-out 200ms infinite;
}
.circle-3{
    animation: jump 1s ease-in-out 400ms infinite;
}

@keyframes jump{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

