main{
    height: 100vh;
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.resume{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    column-gap: 5vw;
}
.image-container-resume{
    flex: 2;
    height: 100%;
    overflow: scroll;
    border-radius: 5vh;
}
.image-cv{
    width: 100%;
    height: auto;
}
.download{
    flex: 1;
    background-color: #ffffff6b;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    color: black;
    border-radius:5vh ;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition-duration: 350ms;
    
}
.download:hover{
    background-color: aliceblue;
}
@media (max-width:600px) {
    main{
        height: 70vh;
    }
    .resume{
        flex-direction: column;
        row-gap: 10vh;
    }    
    .image-container-resume{
        flex: 6;
        border-radius: 2vh;
    }
    .download{
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 2vh;
    }
}