.circle{
    position: relative;
    display: flex;
    flex-direction: row;
    /* padding:2rem;     */
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;
}
.circle_1 ,.circle_2{
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    left: 50;
    top: 20%;
}
.circle_1{
    width: 60%;
    height: 50%;
    background-color: var(--color-1);
    z-index: 100;
    margin-top: 1vh;
}

.circle_2{
    --circle-color : var(--color-2);
    z-index:30;
    width: 70%;
    height: 60%;
    background: conic-gradient(var(--circle-color) var(--rotation-angle) , transparent 0% );
    animation: rotate 2s forwards;
}

@property --rotation-angle {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --target-angle {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@keyframes rotate {
    from {
        --rotation-angle: 0%;
    }
    to {
        --rotation-angle: var(--target-angle);
    }
}